<mat-sidenav-container fxFlexFill (swipeleft)="onSwipeLeft($event)">

  <mat-sidenav #sidenav>
    <mat-nav-list class="mostrador">

        <mat-toolbar color="primary" class="mat-toolbar1">
            <mat-toolbar-row>

              <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
                  <mat-icon>menu</mat-icon>
                </button>
        
              <span>UPM Market</span>
        
            </mat-toolbar-row>
          </mat-toolbar>

        <a mat-list-item (click)="sidenav.toggle()" 
          [routerLinkActive]="['activado']" class="blateral"
          (click)="irATodosLosAlimentos()">
          <mat-icon>shopping_basket</mat-icon>&nbsp;Todos los Alimentos</a>

        <a mat-list-item (click)="sidenav.toggle()" 
          [routerLinkActive]="['activado']" class="blateral"
          (click)="irAVerdurasAlimentos()">
          <mat-icon>shopping_basket</mat-icon>&nbsp;Verduras
        </a>
      
        <a mat-list-item (click)="sidenav.toggle()" 
          [routerLinkActive]="['activado']" class="blateral"
          (click)="irAFruta()">
          <mat-icon>shopping_basket</mat-icon>&nbsp;Fruta
        </a>
    
      </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content fxFlexFill (swipeleft)="onSwipeLeft($event)">
      <mat-toolbar color="primary" class="upm-market">
          <mat-toolbar-row>
      
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
              <mat-icon>menu</mat-icon>
            </button>
      
            <span>UPM Market</span>
            <span class="example-spacer"></span>
            <div>
              <!-- The following menu items will be hidden on both SM and XS screen sizes -->
   
                <button mat-stroked-button
                matBadge="0" matBadgePosition="before" matBadgeColor="warn">
                    <mat-icon>shopping_cart</mat-icon>
                </button>

            </div>
      
          </mat-toolbar-row>
        </mat-toolbar>
      <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>