<mat-sidenav-container fxFlexFill (swipeleft)="onSwipeLeft($event)">

  <mat-sidenav #sidenav>
    <mat-nav-list class="mostrador">

        <mat-toolbar color="primary" class="mat-toolbar1">
            <mat-toolbar-row>

              <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
                  <mat-icon>menu</mat-icon>
                </button>
        
              <span>UPM Market</span>
        
            </mat-toolbar-row>
          </mat-toolbar>

        <a mat-list-item (click)="sidenav.toggle()"
        [routerLink]="['/rxjs']" [routerLinkActive]="['activado']" class="blateral">
          <mat-icon>shopping_basket</mat-icon>&nbsp;TODO</a>
    
      </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content fxFlexFill (swipeleft)="onSwipeLeft($event)">
      <mat-toolbar color="primary" class="upm-market">
          <mat-toolbar-row>
      
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
              <mat-icon>menu</mat-icon>
            </button>
      
            <span>UPM Market</span>
            <span class="example-spacer"></span>
            <div>
              <!-- The following menu items will be hidden on both SM and XS screen sizes -->
   
              <a mat-button [routerLink]="['/ejemploFormulario']" [routerLinkActive]="['activado']">
                <mat-icon>shopping_cart</mat-icon></a>

            </div>
      
          </mat-toolbar-row>
        </mat-toolbar>
      <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>