@media screen and (orientation:portrait) {
    .example-tab-icon{
        height: 25% !important;    
        min-width: 24px;
    }
}
@media screen and (orientation:landscape) {
    .example-tab-icon{    
        width: 24px;
    }
}