<mat-card class="mat-elevation-z0">

  <mat-card-content>
    <mat-card-title>{{alimento.nombre}}</mat-card-title>
    <mat-card-subtitle>Cantidad: {{alimento.cantidad}} {{alimento.unidad}}.</mat-card-subtitle>
    <mat-card-subtitle *ngIf="alimento.cantidad > 0">Fecha Caducidad:
      <p *ngIf="alimento.caducado" style="color: red; display: inline;"> {{fecha}} !</p>
      <p *ngIf="!alimento.caducado" style="display: inline;"> {{fecha}}.</p>

    </mat-card-subtitle>
    <mat-card-subtitle>Precio: {{alimento.precio}}€/{{alimento.unidad}}.</mat-card-subtitle>
  </mat-card-content>
  
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="irATodosLosAlimentos()">
        <mat-icon>store</mat-icon> Comprar
    </button>
    <button mat-raised-button color="accent" (click)="consumir()" [disabled]="alimento.cantidad == 0">
        <mat-icon>restaurant</mat-icon> Consumir
    </button>
    <button *ngIf = "alimentoCong"mat-raised-button color="accent" (click)="descongelar()" [disabled]="alimento.cantidad == 0">
         <mat-icon>swap_vert</mat-icon> Descongelar
    </button>
    <button mat-raised-button color="warn" class="exit" (click)="close()">
        <mat-icon>close</mat-icon> Cerrar
    </button>
  </mat-card-actions>
</mat-card>