/*navegador*/
#navbar{
    position:fixed;
    left:0px;
    bottom:0px;

    /*min-height: 10mm;*/
    width: 100%;
    height: 10%;
}

mat-tab-group{
    width: 100% !important;   
    height: 100% !important;
}

.mat-tab-labels{
    display: flex !important;
    justify-content: center !important;

    background: white !important;
}

.mat-tab-label{
    flex: 1 1 33% !important;

    margin-left: 10px;
    margin-right: 10px;
    /*border: 1px black solid;*/
}

/*contenedor del navegador*/
/*
.mat-tab-body-wrapper{
    height: 100% !important;
    border: 5px solid black !important;
}
*/