<mat-toolbar class="navegador">



  <div class="grid-container">
      <div class="titulo">    
          Nevera Inteligente
      </div>
  
      <div class="btn1">
          <button mat-stroked-button class="btn" [routerLink]="['/market']" [routerLinkActive]="['activate']">
          <app-icon-selecled-store></app-icon-selecled-store>
          &nbsp;
          <p>Tienda</p>
      </button>
      </div>
  
  
      <div class="btn2">
        <button mat-stroked-button class="btn" [routerLink]="['/fridge']" [routerLinkActive]="['activate']">
            <app-icon-selecled-kitchen></app-icon-selecled-kitchen>
          &nbsp;
          <p>Nevera</p>
          </button>
      </div>
  
      <div class="btn3">
            <button mat-stroked-button class="btn" [routerLink]="['/settings']" [routerLinkActive]="['activate']">
            <app-icon-selecled-setting></app-icon-selecled-setting>
              &nbsp;
              <p>Configuración</p>
          </button>
      </div>
  
  </div>
  
  </mat-toolbar>
  
  