/*navegador*/
#navbar{
    position:fixed;
    left:0px;
    bottom:0px;

    /*min-height: 10mm;*/
    width: 100%;
    height: 10%;
}

mat-tab-group{
    width: 100% !important;   
    height: 100% !important;
}

.mat-tab-labels{
    display: flex !important;
    justify-content: center !important;

    background: white !important;
}

.mat-tab-label{
    flex: 1 1 33% !important;

    margin-left: 10px;
    margin-right: 10px;
    /*border: 1px black solid;*/
}

/******TAMAÑO DE LOS ICONOS*******/
/*
mat-tab-group .mat-tab-header{
    height: 100% !important;
}

.mat-tab-header {
    height: 100% !important;
}

.mat-tab-label{
    height: 100% !important;
}

mat-tab-label-container{
    height: 100% !important;
}

.mat-tab-labels{
    height: 100% !important;
}*/