<mat-toolbar class="navegador">



  <div class="grid-container">
      <div class="titulo">    
          Nevera Inteligente
      </div>
  
      <div class="btn1">
          <button mat-stroked-button class="btn" (click)="navegateToMarket()">
          <app-icon-selecled-store></app-icon-selecled-store>
          &nbsp;
          <p>Tienda</p>
      </button>
      </div>
  
  
      <div class="btn2">
          <button mat-stroked-button class="btn" (click)="navegateToNevera()">
          <app-icon-kitchen></app-icon-kitchen>
          &nbsp;
          <p>Nevera</p>
          </button>
      </div>
  
      <div class="btn3">
              <button mat-stroked-button class="btn" (click)="navegateToConfig()">
              <app-icon-setting></app-icon-setting>
              &nbsp;
              <p>Configuración</p>
          </button>
      </div>
  
  </div>
  
  </mat-toolbar>
  
  