

<div id="mostrador">
  <p style="text-align: center">
    fridge works!
  </p>
  
  <app-canvas></app-canvas>

  <mat-card>Simple card</mat-card>
  <mat-card>Simple card</mat-card>
  <mat-card>Simple card</mat-card>
  <mat-card>Simple card</mat-card>
  <mat-card>Simple card</mat-card>
  <mat-card>Simple card</mat-card>
  <mat-card>Simple card</mat-card>
  <mat-card>Simple card</mat-card>
  <mat-card>Simple card</mat-card>
  <mat-card>Simple card</mat-card>
  <mat-card>Simple card</mat-card>
  <mat-card>Simple card</mat-card>
  <mat-card>Simple card</mat-card>
  <mat-card>Simple card n</mat-card> 

  
</div>


