

<div id="mostrador">
  
  
  <router-outlet></router-outlet>

  <div id="navegadorFridge">
      <button mat-stroked-button>
          <mat-icon>home</mat-icon>
      </button>
      <button mat-stroked-button color="primary">
          <mat-icon>home</mat-icon>
      </button>
      <button mat-stroked-button color="accent">
          <mat-icon>home</mat-icon>
      </button>
      <button mat-stroked-button color="warn">
          <mat-icon>home</mat-icon>
      </button>
      <button mat-stroked-button disabled>
          <mat-icon>home</mat-icon>
      </button>
      <a mat-stroked-button routerLink=".">
          <mat-icon>home</mat-icon>
      </a>
  </div>

</div>


