#mostrador{
    border: 1px black solid;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 15%;
}

app-canvas{
    margin-top: 2%;
    /*background: pink;*/
}
