

<div id="mostrador">
  <p style="text-align: center">
    fridge works!
  </p>


   
      <img *ngIf="cerrado" src="../../../assets/img/myfridge.png" class="imagen">
    <img *ngIf="abieroArriba && abiertoAbajo" src="../../../assets/img/fridge2.png"  class="imagen">
    <img *ngIf="abieroArriba && !abiertoAbajo" src="../../../assets/img/fridge2-2.png"  class="imagen">
    <img *ngIf="!abieroArriba && abiertoAbajo" src="../../../assets/img/fridge2-3.png"  class="imagen">



  <button (click)="abrirArriba()">Abrir/Cerrar arriba</button>

  <button (click)="abrirAbajo();">Abrir/Cerrar abajo</button>

</div>


