#mostrador{

    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(#1867C0, #5BB9F5);
}

#navegadorFridge{
    background: pink;
    min-height: 9%;
    margin-top: 1%;

    width: 100%;
    display: flex;
    align-items: center;
}

.mat-stroked-button{
    min-width: 15.75% !important;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

mat-icon{
   font-size: 18px;
}