#mostrador{
    border: 1px black solid;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#navegadorFridge{
    background: pink;
    min-height: 9%;
    margin-top: 1%;
}