
.supermain{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dosColumnas{
    display: flex;
    flex-direction: row;
    justify-content:  center;
    
    flex-wrap: wrap;
}

app-mostrador-de-alimentos{
    margin-top: 2%;
    width: 20%;

    display: flex;
    flex-direction: row;
    justify-content:  center;

    order: 2;
}

svg, defs, clipPath {
    height: 0; 
    position: absolute; 
    top: 0; left: 0;  
}


#figura {
    position: relative; 
    /*width: 360px; height: 480px;*/ 
    
    border: 1px solid black; 
    border-radius: 20px; 
    overflow: hidden; 
    
    margin-top: 2%; 
    
    background-color: gray;
    
}
#figura::before {
    content: ""; 
    
    
    /*IMPORTANTE CAPA ABAJO*/
    background-image: url('../../../../../../assets/img/leftSide/leftSide.png'); 
    background-size: 100% 100%;  
    opacity: .4;
    /*IMPORTANTE*/
    
    /*IGUAL 1*/
    display: block; 
    width: 100%; height: 100%; 
    position: absolute; 
    top: 0; left: 0; 
}

#capaRecorte {
    /*IGUAL 1*/
    display: block; 
    position: absolute; 
    top: 0; left: 0; 
    width: 100%; height: 100%; 
}

.imagen {
    /*IGUAL 1*/
    width: 100%; height: 100%; 
    position: absolute;
    top: 0; left: 0; 
    
    cursor: grab; 
}

.pointer{
    cursor: pointer;
}

/*
#figura area:nth-of-type(1):hover ~ #capaRecorte {
    clip-path: url(#A1); 
}


#figura area:nth-of-type(2):hover ~ #capaRecorte {
    clip-path: url(#A2); 
}

#figura area:nth-of-type(3):hover ~ #capaRecorte {
    clip-path: url(#A3); 
}

#figura area:nth-of-type(4):hover ~ #capaRecorte {
    clip-path: url(#A4); 
}
*/

/*navegador*/
#navegadorFridge{
    min-height: 9%;
    margin-top: 1%;

    width: 80%;
    display: flex;
}

.mat-raised-button{
    min-width: 100% !important;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

mat-icon{
   font-size: 18px;
}
/*fin navegador*/