<div id="main">
    <figure id=figura appStyleGetter [height]="height" [width]="width">
        <map name=recortes id=recortes>
              <!--agua-->
              <area shape=rect
              [attr.coords]="mapCoorAgua" class="pointer">
              <!--leche-->
              <area shape=rect
              [attr.coords]="mapCoorLeche" class="pointer">
              <!--ketchup-->
              <area shape=rect
              [attr.coords]="mapCoorKetchup" class="pointer">
              <!--mantequilla-->
              <area shape=rect
              [attr.coords]="mapCoorMantequilla" class="pointer">
      
          
      
          <!--IMPORTANTE CAPA ARRIBA CUANDO SE SELECIONA ALGO-->
        <img id=capaRecorte src="../../../../../../assets/img/leftSide/leftSide.png" >
        </map>
      
        <!--USA EL MAPS: ES TRANSPARENTE-->
        <!--
          <img src="../../../../../../assets/img/transparente.gif"
        id=imagen usemap=#recortes>
        -->
         <!--Imagenes de los alimentos-->
         <div *ngFor="let alimento of alimentos">
                <img *ngIf="alimento.cantidad > 0"
                src="{{alimento.rutaOk}}"
                class="imagen" usemap=#recortes> 
    
                <img *ngIf="alimento.cantidad === 0"
                src="{{alimento.rutaEmpty}}"
                class="imagen" usemap=#recortes> 
            </div>
           <!--Fin Imagenes de los alimentos-->
      
      </figure>
<!--
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" >
          <defs>
              <clipPath id=A1>
                  <polygon [attr.points]="mapCoorABCD"></polygon>
              </clipPath>
              <clipPath id=A2>
                  <polygon [attr.points]="mapCoorMNOP" ></polygon>
              </clipPath>
              
               
          </defs>
      </svg>
    -->
    <div id="navegadorFridge">
        <button mat-stroked-button>
            <mat-icon>home</mat-icon>
        </button>
        <button mat-stroked-button color="primary">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-stroked-button color="accent">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-stroked-button color="warn">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-stroked-button disabled>
            <mat-icon>home</mat-icon>
        </button>
        <a mat-stroked-button routerLink="../">
            <mat-icon>exit_to_app</mat-icon>
        </a>
    </div>
</div>