<div class="supermain">
        <div id="main">
                <div class="dosColumnas">

                        <div class="supermain">
                            <figure id=figura appStyleGetter [height]="height" [width]="width">
                                                        
                                <img id=capaRecorte src="../../../../../../assets/img/leftSide/leftSide.png" >
                                
                              
                                <button (click)="openDialog('agua')"
                                        mat-stroked-button 
                                        class="btn-agua">
                                    <img src="/assets/img/leftSide/agua.png"
                                        *ngIf="alimentos[0].cantidad > 0"
                                        class="responsive">
                                    <img src="/assets/img/leftSide/agua-cruz.png"
                                        *ngIf="alimentos[0].cantidad === 0"
                                        class="responsive">
                                </button>
                                <button (click)="openDialog('leche')"
                                        mat-stroked-button 
                                        class="btn-leche">
                                    <img src="/assets/img/leftSide/leche.png"
                                        *ngIf="alimentos[1].cantidad > 0"
                                        class="responsive">
                                    <img src="/assets/img/leftSide/leche-cruz.png"
                                        *ngIf="alimentos[1].cantidad === 0"
                                        class="responsive">
                                </button>
                                <button (click)="openDialog('mantequilla')"
                                        mat-stroked-button 
                                        class="btn-mantequilla">
                                    <img src="/assets/img/leftSide/mantequilla.png"
                                        *ngIf="alimentos[2].cantidad > 0"
                                        class="responsive">
                                    <img src="/assets/img/leftSide/mantequilla-cruz.png"
                                        *ngIf="alimentos[2].cantidad === 0"
                                        class="responsive">
                                </button>
                                <button (click)="openDialog('ketchup')"
                                        mat-stroked-button 
                                        class="btn-salsaDeTomate">
                                    <img src="/assets/img/leftSide/salsaTomate.png"
                                        *ngIf="alimentos[3].cantidad > 0"
                                        class="responsive">
                                    <img src="/assets/img/leftSide/salsaTomate-cruz.png"
                                        *ngIf="alimentos[3].cantidad === 0"
                                        class="responsive">
                                </button>
                                    
                              
                              </figure>
                              <div id="navegadorFridge">
                                <button routerLink="../"
                                class="flex-icon"
                                mat-raised-button>
                                    <mat-icon>exit_to_app</mat-icon>
                                </button>
                            </div>
                        </div>
                </div>
            <!--
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" >
                      <defs>
                          <clipPath id=A1>
                              <polygon [attr.points]="mapCoorABCD"></polygon>
                          </clipPath>
                          <clipPath id=A2>
                              <polygon [attr.points]="mapCoorMNOP" ></polygon>
                          </clipPath>
                          
                           
                      </defs>
                  </svg>
                -->
            </div>
           
</div>