<div id="mostrador">
  <mat-card class="main"> 
      <h2 class="h2">Ajustes</h2>
      <mat-list role="list">
          <mat-divider></mat-divider>
          <mat-list-item class="pointer" *ngIf="!encendida" (click)="nevera()">
            <mat-icon>power_settings_new</mat-icon>
            &nbsp;
            Encender Nevera
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="pointer" *ngIf="encendida" (click)="nevera()">
            <mat-icon>power_settings_new</mat-icon>
              &nbsp;
              Apagar Nevera
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="pointer" (click)="irATemperatura();">
              <mat-icon svgIcon="thermometer"><img class="termometro" src="assets/img/temperaturaIcon.png"></mat-icon>
              &nbsp;
                Regular Temperatura
          </mat-list-item>          
        </mat-list>
        <mat-divider></mat-divider>
          <mat-list-item class="pointer" (click)="irATecnicp()">
              <mat-icon class="build">build</mat-icon>
              &nbsp;
              Servicio Ténico
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item (click)="irAMisProductos()" class="pointer">
              <mat-icon class="build">local_dining</mat-icon>
              &nbsp;
              Mis alimentos
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="pointer" (click)="irAIdeas()">
              <mat-icon svgIcon="bulb" class="build"><img class="termometro" src="assets/img/recipe.png"></mat-icon>
              &nbsp;
              Ideas para comer
          </mat-list-item>
          <mat-divider></mat-divider>
  </mat-card>
</div>
