<mat-card class="example-card">
    <div class="main-card">
        <img mat-card-image src="{{article.photo}}" alt="Photo of article">
        <mat-card-title>
          <p><b>{{article.title}}</b></p>
        </mat-card-title>
    </div>
    
    <mat-card-content>
      <p>
        {{article.description}}
      </p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
        <button mat-raised-button color="accent" (click)="comprar()">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
    </mat-card-actions>
  </mat-card>

  <img *ngIf="added" src="{{article.photo}}" class="carrito-foto">
