<mat-card class="example-card">
    <div class="main-card">
        <img mat-card-image src="{{article.photo}}" alt="Photo of article">
        <mat-card-title>
          <p><b>{{article.nombre}}</b></p>
        </mat-card-title>
    </div>
    
    <mat-card-content>
      <p>
        Usted tiene: {{article.cantidad}} unidades;
      </p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
            <button mat-mini-fab class="mat-success" (click)="remove()">
                <mat-icon>remove</mat-icon>
              </button>
              <mat-form-field>
                  <input matInput readonly="true" [value]="cantidad">
              </mat-form-field>
              <button mat-mini-fab class="mat-success" (click)="add()">
                <mat-icon>add</mat-icon>
              </button>
        <button mat-raised-button color="accent" (click)="comprar()" class="comprar">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
    </mat-card-actions>
  </mat-card>

  <img *ngIf="added" src="{{article.photo}}" class="carrito-foto">
