<div id="mostrador">
    <mat-card class="main"> 
        <h2 class="h2">Servicio Técnico</h2>
        <mat-divider></mat-divider>

      <div class="main2" *ngIf="mostrar">
                <br>
                <mat-spinner></mat-spinner>
                <p>Analizando Nevera</p>
        </div>

        <div class="main2" *ngIf="!mostrar && !error">
            <br>
            <p>No se ha detectado ningun problema</p>
        </div>
        
        <div class="main2" *ngIf="!mostrar && error">
            <br>
            <b>Detectado Problema Grave.</b>
          
            <p>Contactando con servicio técnico</p>
            <mat-progress-bar mode="indeterminate" style="width: 80%"></mat-progress-bar>

        </div>

        <mat-card-actions  style="text-align: center">
            <mat-divider></mat-divider>
            <br/>
            <button mat-raised-button routerLink="../">
              <mat-icon>exit_to_app</mat-icon>
            </button>
          </mat-card-actions>
    
    </mat-card>
  </div>
  