<div class="main" *ngIf="!alta">
    
    <mat-toolbar class="paymarket">
          <span style="margin: auto;">Servicio Paymarket</span>
    </mat-toolbar>
    
    <form (ngSubmit)="onSubmit(); onReset(myUserform)" [formGroup]="userForm" #myUserform="ngForm">
    
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre" formControlName="nombre" required>
        <mat-error *ngIf="email.errors && email.errors.required">
            El nombre es obligatorio.
          </mat-error>
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Apellidos" formControlName="apellidos" required>
          <mat-error *ngIf="email.errors && email.errors.required">
              Los apellidos son obligatorios.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Dominicilio" formControlName="dominicilio" required>
            <mat-error *ngIf="email.errors && email.errors.required">
                El dominicilio es obligatorio.
              </mat-error>
          </mat-form-field>
    
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="email.errors && email.errors.required">
            El email es obligatorio.
          </mat-error>
          <mat-error *ngIf="email.errors && email.errors.pattern">
              El email debe contener almenos un caracter @.
          </mat-error>
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Contraseña" formControlName="password" required type="password">
        <mat-error *ngIf="userForm.hasError('required', 'password')">
          Por favor introduzca una contraseña
        </mat-error>
        <mat-error *ngIf="password.errors && password.errors.pattern">
            La contraseña debe contener un minúscula, una mayúscula, un simbolo especial @#$%_, una 
            longitud de al menos 6 carácteres y máximo 20.
          </mat-error>
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Confirma la contraseña" formControlName="confirmPassword" [errorStateMatcher]="matcher" type="password" required>
          <mat-error *ngIf="userForm.hasError('notSame')">
           La contraseña no coincide
        </mat-error>  
      </mat-form-field>
    
      <br><br>
    
      <button mat-raised-button color="primary" (click)="darAlta()" [disabled]="!userForm.valid">Dame de alta!</button>
    
    </form> 
</div>


<div *ngIf="alta" class="main">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Bienvenido {{userForm.value.nombre}} !</mat-card-title>
          <mat-card-subtitle>Esta es su tarjeta paymarket: </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
      </mat-card>

      <br>
      <br>

      <div class="mostrador-tarjeta">
          <div class="grid-container">
              <div class="bank">Paymarket</div>
              <div class="chip">
                <img src="assets/img/chip.png" class="chip"/>
              </div>
              <div class="number">1234 5678 9101 112</div>
              <div class="label">
                VALID FROM &nbsp; UNTIL END
                <br>
                04/19 &nbsp; 04/25
              </div>
              <div class="valid"></div>
              <div class="name">{{userForm.value.nombre}}</div>
      
              <div class="logo"></div>
              <div class="mc">
                  <img src="assets/img/mc.png" class="chip"/>
              </div>
            </div>
      </div>
      
</div>