
<div id="mostrador">
    <mat-card class="main"> 
        <h2 class="h2">Ajustes</h2>
        <mat-list role="list">
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon>power_settings_new</mat-icon>
              &nbsp;
              Encender Nevera
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon class="example-tab-icon" svgIcon="power-off"></mat-icon>
                &nbsp;
                Apagar Nevera
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item >
                <mat-icon svgIcon="thermometer"></mat-icon>
                &nbsp;
                Regular Temperatura
            </mat-list-item>          
          </mat-list>
          <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon class="build">build</mat-icon>
                &nbsp;
                Servicio Ténico
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon class="build">local_dining</mat-icon>
                &nbsp;
                Mis productos
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon svgIcon="bulb" class="build"></mat-icon>
                &nbsp;
                Ideas para comer
            </mat-list-item>
            <mat-divider></mat-divider>
    </mat-card>
</div>
