.supermain{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dosColumnas{
    display: flex;
    flex-direction: row;
    justify-content:  center;
    flex-wrap: wrap;
}

app-mostrador-de-alimentos{
    margin-top: 1%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

svg, defs, clipPath {
    height: 0; 
    position: absolute; 
    top: 0; left: 0;  
}


#figura {
    position: relative; 
    /*width: 360px; height: 480px;*/ 
    
    border: 1px solid black; 
    border-radius: 20px; 
    overflow: hidden; 
    
    margin-top: 2% ; 
    
    background-color: gray;
    background-size: 100% 100%;
}

#capaRecorte {
    /*IGUAL 1*/
    display: block; 
    position: absolute; 
    top: 0; left: 0; 
    width: 100%; height: 100%; 
}

.imagen {
    /*IGUAL 1*/
    width: 100%; height: 100%; 
    position: absolute;
    top: 0; left: 0; 
    
    cursor: grab; 
}

.pointer{
    cursor: pointer;
}
/*
#figura area:nth-of-type(1):hover ~ #capaRecorte {
    clip-path: url(#A1); 
}


#figura area:nth-of-type(2):hover ~ #capaRecorte {
    clip-path: url(#A2); 
}

#figura area:nth-of-type(3):hover ~ #capaRecorte {
    clip-path: url(#A3); 
}

#figura area:nth-of-type(4):hover ~ #capaRecorte {
    clip-path: url(#A4); 
}
*/

/*navegador*/
#navegadorFridge{
    min-height: 9%;
    
    width: 80%;
    display: flex;
}

.mat-raised-button{
    min-width: 50% !important;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

mat-icon{
   font-size: 18px;
}

.flex-icon{
    display: flex !important;
    justify-content: center !important;
}
.p{
    display: inline;
}
/*fin navegador*/
.responsive{
    height: 100%;
    width: 100%;
}

.mat-stroked-button{
    padding: 2px;
    min-width: 0px !important;
}

.btn-pera{
    position: absolute;
    top: 60%; right: 80%; 

    width: 17%; height: 17%;
}

.btn-melon{
    position: absolute;
    top: 60%; right: 61%; 

    width: 17%; height: 17%;
}

.btn-platano{
    position: absolute;
    top: 60%; left: 41.5%; 

    width: 17%; height: 17%;
}

.btn-manzana{
    position: absolute;
    top: 60%; left: 61%; 

    width: 17%; height: 17%;
}

.btn-cherry{
    position: absolute;
    top: 60%; left: 80%; 

    width: 17%; height: 17%;
}



.btn-broccoli{
    position: absolute;
    top: 37%; right: 80%; 

    width: 17%; height: 17%;
}

.btn-coliflor{
    position: absolute;
    top: 37%; right: 61%; 

    width: 17%; height: 17%;
}

.btn-pepino{
    position: absolute;
    top: 37%; left: 41.5%; 

    width: 17%; height: 17%;
}

.btn-pimiento{
    position: absolute;
    top: 37%; left: 61%; 

    width: 17%; height: 17%;
}

.btn-zanahoria{
    position: absolute;
    top: 37%; left: 80%; 

    width: 17%; height: 17%;
}



.btn-huevos{
    position: absolute;
    top: 13%; right: 80%; 

    width: 17%; height: 17%;
}

.btn-pollo{
    position: absolute;
    top: 13%; right: 61%; 

    width: 17%; height: 17%;
}

.btn-salchicha{
    position: absolute;
    top: 13%; left: 41.5%; 

    width: 17%; height: 17%;
}

.btn-carne{
    position: absolute;
    top: 13%; left: 61%; 

    width: 17%; height: 17%;
}

.btn-pescado{
    position: absolute;
    top: 13%; left: 80%; 

    width: 17%; height: 17%;
}


.btn-carne-descongelada{
    position: absolute;
    top: 80%; right: 70%; 

    width: 17%; height: 17%;
}
.btn-pescado-descongelada{
    position: absolute;
    top: 80%; left: 37.5%; 

    width: 25%; height: 17%;
}
.btn-tarta-descongelada{
    position: absolute;
    top: 80%; left: 70%; 

    width: 17%; height: 17%;
}