table{
    width: 100% !important;
    padding: 0% !important;
}

.total{
    display: flex !important;
    justify-content:  space-between !important;
    font-family: Roboto;
    padding-left: 5%;
    padding-right: 5%;

}

th{
    width: 25% !important;
}

.pagar{
    margin-top: 2%;
    width: 80%;
}