<mat-toolbar color="accent" class="mat-toolbar1">
  <mat-toolbar-row>

    <span>UPM Market</span>

  </mat-toolbar-row>
</mat-toolbar>

<table mat-table [dataSource]="alimentosEnCarrito" class="mat-elevation-z0">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
  
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Alimento </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
    </ng-container>

     <!-- Weight Column -->
     <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element"> {{element.precio}}€/{{element.unidad}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">

          <th mat-header-cell *matHeaderCellDef>
            
              <button (click)="onDeleteAll()" mat-button mat-icon-button color="warn"
                        [disabled]="alimentosEnCarrito.length === 0"
                        #tooltip1="matTooltip"
                        matTooltip="Eliminar Carrito"
                        [matTooltipPosition]="'after'">
                <mat-icon>delete</mat-icon>
              </button>
            
          </th>
        
          <td mat-cell *matCellDef="let row">
            <button (click)="onUpdate(row)" mat-button mat-icon-button>
              <mat-icon>mode_edit</mat-icon>
            </button>
            <button (click)="onDelete(row)" mat-button mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        
        </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <br/>
  <mat-list role="list">
      <mat-divider></mat-divider>
      <div class="total">
          <p>Total: <b>{{total}}€</b></p>
      </div>
      <mat-divider></mat-divider>

    </mat-list>

    
    <div class="main">

          <button [disabled]="alimentosEnCarrito.length === 0" mat-raised-button color="accent" class="pagar">
            Realizar el pago
          </button>
    
    </div>
   
  
  