<div *ngIf="alta">
    <mat-toolbar color="accent" class="mat-toolbar1">
        <mat-toolbar-row>
      
          <span>UPM Market</span>
      
        </mat-toolbar-row>
      </mat-toolbar>
      
      <table mat-table [dataSource]="alimentosEnCarrito" class="mat-elevation-z0">
      
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
        
          <!-- Name Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Alimento </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element"> 
              {{element.cantidad}}
              <button (click)="onUpdate(element)" mat-button mat-icon-button>
                  <mat-icon>mode_edit</mat-icon>
                </button> 
            </td>
          </ng-container>
      
           <!-- Weight Column -->
           <ng-container matColumnDef="precio">
              <th mat-header-cell *matHeaderCellDef> Precio </th>
              <td mat-cell *matCellDef="let element"> {{element.precio}}€/{{element.unidad}} </td>
            </ng-container>
      
            <ng-container matColumnDef="actions">
      
                <th mat-header-cell *matHeaderCellDef>
                  
                    <button (click)="onDeleteAll()" mat-stroked-button
                              [disabled]="alimentosEnCarrito.length === 0"
                              #tooltip1="matTooltip"
                              matTooltip="Eliminar Carrito"
                              [matTooltipPosition]="'after'">
                      <mat-icon>shopping_cart</mat-icon>
                      &rArr;
                      <mat-icon>delete</mat-icon>
                    </button>
                  
                </th>
              
                <td mat-cell *matCellDef="let row">
                  <button (click)="onDelete(row)" mat-button mat-icon-button>
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              
              </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <br/>
        <mat-list role="list">
            <mat-divider></mat-divider>
            <div class="total">
                <p>Total: <b>{{total}}€</b></p>
            </div>
            <mat-divider></mat-divider>
      
          </mat-list>
      
          
          <div class="main">
              <mat-form-field>
                  <input (dateChange)="onDate($event)" [min]="minDate"
                  matInput [matDatepicker]="picker" placeholder="Selecciona la fecha de entrega" [disabled]="alimentosEnCarrito.length === 0">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker ></mat-datepicker>
                </mat-form-field>
      
              <mat-form-field>
                <mat-label>Nº de tarjeta Paymarket</mat-label>
                <mat-select (selectionChange)="selectOption($event)">
                  <mat-option *ngFor="let food of foods" [value]="food.value" [disabled]="alimentosEnCarrito.length === 0">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
      
                <button [disabled]="alimentosEnCarrito.length === 0 || fecha === false || tarjeta === false" mat-raised-button color="accent" class="pagar"
                (click)="confirmar()">
                  Realizar el pago
                </button>
          
          </div>
</div>
   
<div *ngIf="!alta" style="text-align: center;">
    <p style="margin-top: 80px; font-size: 2em; 
      font-family: Roboto; text-align: center; margin-left: 2%; margin-right: 2%;">
          Para realizar una compra es necesario
          darse de alta en el servicio Paymarket
    </p>
  
  </div>
  
  