mat-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.miAnimacion{
    height: 325px;
}

.indicador{
    height: 20%;
    width: 20%
}

.exit{
    width: 95% !important;
    margin-top: 10px;
  }

#toggle{
    margin-bottom: 5% !important;
}