.container{
    display: flex;
    justify-content: center;
}

.anchura{
    width: 85%;
}

.articulos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.articulo{
    width: 31%;
    
    margin-left: 1%;
    margin-right: 1%;
    
    margin-bottom: 5%;
    
    text-align: center;
}

.subheader{
    font-size: 34px;
    color: #333;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(251, 49, 78, 0.3);
}

.displayer{
    text-align: center;
    margin-top: 80px !important;
}

.button{
    text-align: end;
    margin-bottom: 20px;
}

@media (min-width: 850px) and (max-width: 1279px){
    .articulo{
        width: 48%;
    }
}

@media (max-width: 850px){
    .articulo{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (max-width: 650px){
    .articulo{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 400px){
    .articulo{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 210px){
    mat-form-field{
       width: 100px !important;
    }
}

@media (max-width: 210px){
    .subheader{
       font-size: 27px;
    }
}