.supermain{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dosColumnas{
    display: flex;
    flex-direction: row;
    justify-content:  center;
    
    flex-wrap: wrap;
}

app-mostrador-de-alimentos{
    margin-top: 1%;
    width: 20%;
    height: 20% !important;
    
    display: flex;
    flex-direction: row;
    justify-content:  center;

    order: 3;
}

svg, defs, clipPath {
    height: 0; 
    position: absolute; 
    top: 0; left: 0;  
}

#figura {
    position: relative; 
    /*width: 360px; height: 480px;*/ 
    
    border: 1px solid black; 
    border-radius: 20px; 
    overflow: hidden; 
    margin-top: 2%;
    
    background-color: gray;
    background-size: 100% 100%;
}

#capaRecorte {
    /*IGUAL 1*/
    display: block; 
    position: absolute; 
    top: 0; left: 0; 
    width: 100%; height: 100%; 
}

.imagen {
    /*IGUAL 1*/
    width: 100%; height: 100%; 
    position: absolute;
    top: 0; left: 0; 
    
    cursor: grab; 
}

.pointer{
    cursor: pointer;
}

/*
#figura area:nth-of-type(1):hover ~ #capaRecorte {
    clip-path: url(#A1); 
}


#figura area:nth-of-type(2):hover ~ #capaRecorte {
    clip-path: url(#A2); 
}

#figura area:nth-of-type(3):hover ~ #capaRecorte {
    clip-path: url(#A3); 
}
*/

/*navegador*/
#navegadorFridge{
    min-height: 9%;
    margin-top: 1%;

    width: 86%;
    display: flex;
}


.mat-raised-button{
    min-width: 24% !important;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

mat-icon{
   font-size: 18px;
}

.flex-icon{
    display: flex !important;
    justify-content: center !important;
}
.p{
    display: inline;
}
/*fin navegador*/
.responsive{
    height: 100%;
    width: 100%;
}

.mat-stroked-button{
    padding: 2px;
    min-width: 0px !important;
}

.btn-helado{
    position: absolute;
    top: 4%; left: 10%; 

    width: 20%; height: 25%;
}

.btn-churros{
    position: absolute;
    top: 4%; right: 40%; 

    width: 20%; height: 25%;
}
.btn-tarta{
    position: absolute;
    top: 4%; right: 10%; 

    width: 20%; height: 25%;
}



.btn-pizza{
    position: absolute;
    top: 32%; left: 10%; 

    width: 20%; height: 25%;
}
.btn-patatas-congeladas{
    position: absolute;
    top: 32%; right: 40%; 

    width: 20%; height: 25%;
}
.btn-verduras{
    position: absolute;
    top: 32%; right: 10%; 

    width: 20%; height: 25%;
}




.btn-pescado-congelado{
    position: absolute;
    top: 59%; left: 15%; 

    width: 30%; height: 25%;
}


.btn-carne-congelada{
    position: absolute;
    top: 59%; right: 20%; 

    width: 20%; height: 25%;
}