<div class="supermain">
        <div id="main">
                <div class="dosColumnas">
                    <div class="supermain">
                        <figure id=figura appStyleGetter [height]="height" [width]="width">
                            
                            <!--IMPORTANTE CAPA ARRIBA CUANDO SE SELECIONA ALGO-->
                            <img id=capaRecorte src="../../../../../../assets/img/freezer/freezer.png">
                            <img *ngIf="arrayCajonIsOpen[0]" id=capaRecorte src="../../../../../../assets/img/freezer/freezer-cajon1-abierto.png" >
                            <img *ngIf="arrayCajonIsOpen[1]" id=capaRecorte src="../../../../../../assets/img/freezer/freezer-cajon2-abierto.png">
                            <img *ngIf="arrayCajonIsOpen[2]" id=capaRecorte src="../../../../../../assets/img/freezer/freezer-cajon3-abierto.png" >
                          
                            <button (click)="openDialog('helado')"
                                    *ngIf="this.arrayCajonIsOpen[0]"
                                    mat-stroked-button 
                                    class="btn-helado">
                                <img src="/assets/img/freezer/helado.png"
                                    *ngIf="alimentos[2].cantidad > 0"
                                    class="responsive">
                                <img src="/assets/img/freezer/helado-cruz.png"
                                    *ngIf="alimentos[2].cantidad === 0"
                                    class="responsive">
                            </button>
                            <button (click)="openDialog('churros')"
                                    *ngIf="this.arrayCajonIsOpen[0]"
                                    mat-stroked-button 
                                    class="btn-churros">
                                <img src="/assets/img/freezer/churros.png"
                                    *ngIf="alimentos[1].cantidad > 0"
                                    class="responsive">
                                <img src="/assets/img/freezer/churros-cruz.png"
                                    *ngIf="alimentos[1].cantidad === 0"
                                    class="responsive">
                            </button>
                            <button (click)="openDialog('tarta')"
                                    *ngIf="this.arrayCajonIsOpen[0]"
                                    mat-stroked-button 
                                    class="btn-tarta">
                                <img src="/assets/img/freezer/tarta.png"
                                    *ngIf="alimentos[6].cantidad > 0"
                                    class="responsive">
                                <img src="/assets/img/freezer/tarta-cruz.png"
                                    *ngIf="alimentos[6].cantidad === 0"
                                    class="responsive">
                            </button>




                            <button (click)="openDialog('pizza-congelada')"
                                    *ngIf="this.arrayCajonIsOpen[1]"
                                    mat-stroked-button 
                                    class="btn-pizza">
                                <img src="/assets/img/freezer/pizza.png"
                                    *ngIf="alimentos[5].cantidad > 0"
                                    class="responsive">
                                <img src="/assets/img/freezer/pizza-cruz.png"
                                    *ngIf="alimentos[5].cantidad === 0"
                                    class="responsive">
                            </button>
                            <button (click)="openDialog('patatas-congeladas')"
                                    *ngIf="this.arrayCajonIsOpen[1]"
                                    mat-stroked-button 
                                    class="btn-patatas-congeladas">
                                <img src="/assets/img/freezer/patatas.png"
                                    *ngIf="alimentos[3].cantidad > 0"
                                    class="responsive">
                                <img src="/assets/img/freezer/patatas-cruz.png"
                                    *ngIf="alimentos[3].cantidad === 0"
                                    class="responsive">
                            </button>
                            <button (click)="openDialog('verduras-congeladas')"
                                    *ngIf="this.arrayCajonIsOpen[1]"
                                    mat-stroked-button 
                                    class="btn-verduras">
                                <img src="/assets/img/freezer/verduras.png"
                                    *ngIf="alimentos[7].cantidad > 0"
                                    class="responsive">
                                <img src="/assets/img/freezer/verdura-cruz.png"
                                    *ngIf="alimentos[7].cantidad === 0"
                                    class="responsive">
                            </button>


                            
                            <button (click)="openDialog('pescado-congelado')"
                                    *ngIf="this.arrayCajonIsOpen[2]"
                                    mat-stroked-button 
                                    class="btn-pescado-congelado">
                                <img src="/assets/img/freezer/pescado.png"
                                    *ngIf="alimentos[4].cantidad > 0"
                                    class="responsive">
                                <img src="/assets/img/freezer/pescado-cruz.png"
                                    *ngIf="alimentos[4].cantidad === 0"
                                    class="responsive">
                            </button>
                            <button (click)="openDialog('carne-congelada')"
                                    *ngIf="this.arrayCajonIsOpen[2]"
                                    mat-stroked-button 
                                    class="btn-carne-congelada">
                                <img src="/assets/img/freezer/carne.png"
                                    *ngIf="alimentos[0].cantidad > 0"
                                    class="responsive">
                                <img src="/assets/img/freezer/carne-cruz.png"
                                    *ngIf="alimentos[0].cantidad === 0"
                                    class="responsive">
                            </button>
                            
                          </figure>
                          
            <div id="navegadorFridge">
                    <button (click)="abrirCajon1()"
                    mat-raised-button
                    class="flex-icon" 
                    *ngIf="!this.arrayCajonIsOpen[0]">
                        <mat-icon >archive</mat-icon>
                        <p class="p">Cajon 1</p>
                    </button>
                    <button (click)="abrirCajon1()"
                    mat-raised-button  color="accent"
                    class="flex-icon" 
                    *ngIf="this.arrayCajonIsOpen[0]">
                        <mat-icon>unarchive</mat-icon>
                        <p class="p">Cajon 1</p>
                    </button>

                <button (click)="abrirCajon2()"
                mat-raised-button
                class="flex-icon" 
                *ngIf="!this.arrayCajonIsOpen[1]">
                    <mat-icon >archive</mat-icon>
                    <p class="p">Cajon 2</p>
                </button>
                <button (click)="abrirCajon2()"
                mat-raised-button  color="accent"
                class="flex-icon" 
                *ngIf="this.arrayCajonIsOpen[1]">
                    <mat-icon>unarchive</mat-icon>
                    <p class="p">Cajon 2</p>
                </button>

                <button (click)="abrirCajon3()"
                mat-raised-button
                class="flex-icon" 
                *ngIf="!this.arrayCajonIsOpen[2]">
                    <mat-icon >archive</mat-icon>
                    <p class="p">Cajon 3</p>
                </button>
                <button (click)="abrirCajon3()"
                mat-raised-button  color="accent"
                class="flex-icon" 
                *ngIf="this.arrayCajonIsOpen[2]">
                    <mat-icon>unarchive</mat-icon>
                    <p class="p">Cajon 3</p>
                </button>
                <button routerLink="../"
                class="flex-icon"
                mat-raised-button>
                    <mat-icon>exit_to_app</mat-icon>
                </button>
            </div>
                    </div>

                             <!--
                              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" >
                                  <defs>
                                      <clipPath id=A1>
                                          <polygon [attr.points]="mapCoorABCD"></polygon>
                                      </clipPath>
                                      <clipPath id=A2>
                                          <polygon [attr.points]="mapCoorEFGH" ></polygon>
                                      </clipPath>
                                      <clipPath id=A3>
                                          <polygon [attr.points]="mapCoorIJKL" ></polygon>
                                      </clipPath>
                                  </defs>
                              </svg>
                            -->
                        </div>
                </div>
</div>