<div id="main">
    <figure id=figura appStyleGetter [height]="height" [width]="width">
        <map name=recortes id=recortes>
              <!--helado-->
              <area shape=rect
              [attr.coords]="mapCoorHelado" class="pointer">
              <!--churro-->
              <area shape=rect
              [attr.coords]="mapCoorChurro" class="pointer">
               <!--Tarta-->
              <area shape=rect
               [attr.coords]="mapCoorTarta" class="pointer">
                <!--Pizza-->
              <area shape=rect
               [attr.coords]="mapCoorPizza" class="pointer">
               <!--Patatas-->
              <area shape=rect
               [attr.coords]="mapCoorPatata" class="pointer">
               <!--Verduras-->
              <area shape=rect
               [attr.coords]="mapCoorVerduras" class="pointer">
               <!--Pescado-->
              <area shape=rect
              [attr.coords]="mapCoorPescado" class="pointer">
              <!--Carne-->
              <area shape=rect
                [attr.coords]="mapCoorCarne" class="pointer">
        </map>
        
        <!--IMPORTANTE CAPA ARRIBA CUANDO SE SELECIONA ALGO-->
        <img id=capaRecorte src="../../../../../../assets/img/freezer/freezer.png">
        <img *ngIf="arrayCajonIsOpen[0]" id=capaRecorte src="../../../../../../assets/img/freezer/freezer-cajon1-abierto.png" >
        <img *ngIf="arrayCajonIsOpen[1]" id=capaRecorte src="../../../../../../assets/img/freezer/freezer-cajon2-abierto.png">
        <img *ngIf="arrayCajonIsOpen[2]" id=capaRecorte src="../../../../../../assets/img/freezer/freezer-cajon3-abierto.png" >
      
          <!--USA EL MAPS: ES TRANSPARENTE-->
        <!--Imagenes de los alimentos-->
        <div *ngFor="let alimento of alimentos">
                <div *ngIf="arrayCajonIsOpen[alimento.cajon]">
                    <img *ngIf="alimento.cantidad > 0"
                    src="{{alimento.rutaOk}}"
                    class="imagen" usemap=#recortes> 
        
                    <img *ngIf="alimento.cantidad === 0"
                    src="{{alimento.rutaEmpty}}"
                    class="imagen" usemap=#recortes> 
                </div>
            </div>
           <!--Fin Imagenes de los alimentos-->
      
      </figure>
      <!--
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" >
          <defs>
              <clipPath id=A1>
                  <polygon [attr.points]="mapCoorABCD"></polygon>
              </clipPath>
              <clipPath id=A2>
                  <polygon [attr.points]="mapCoorEFGH" ></polygon>
              </clipPath>
              <clipPath id=A3>
                  <polygon [attr.points]="mapCoorIJKL" ></polygon>
              </clipPath>
          </defs>
      </svg>
    -->
</div>

<div id="navegadorFridge">
    <button (click)="abrirCajon1()"
    mat-stroked-button  
    class="flex-icon" >
        <mat-icon>home</mat-icon>
        <p class="p">Cajon1</p>
    </button>
    <button (click)="abrirCajon2()"
    mat-stroked-button  color="primary"
    class="flex-icon" >
        <mat-icon>home</mat-icon>
        <p class="p">Cajon2</p>
    </button>
    <button (click)="abrirCajon3()"
    mat-stroked-button  color="accent"
    class="flex-icon" >
        <mat-icon>home</mat-icon>
        <p class="p">Cajon3</p>
    </button>
    <button mat-stroked-button color="warn">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-stroked-button disabled>
        <mat-icon>home</mat-icon>
    </button>
    <a mat-stroked-button routerLink="../">
        <mat-icon>exit_to_app</mat-icon>
    </a>
</div>