#container{
    height: 100vh;
    /*
    background-image: url("/assets/img/Captura1.PNG");
    background-size: 100% 100%;
    */
    background: #FAFAFA;
}

.main{
    /*height: 85%;*/
    /*background: yellow;*/
    /*overflow: hidden;*/
}

.navegador{
    height: 15%;
    /*background: pink !important;*/
}