#container{
    height: 100vh;
    background: linear-gradient(#1867C0, #5BB9F5);
}

.main{
    /*height: 85%;*/
    /*background: yellow;*/
    /*overflow: hidden;*/
}

.navegador{
    height: 15%;
    /*background: pink !important;*/
}