#main{
    margin: 2% auto; 
}

.imgSuperpuesta{
    position:absolute;
    z-index: 1;
}

.imgPrincipal{
    z-index: -1;
}

.zoom{
    cursor: zoom-in;
}

/*navegador*/
#navegadorFridge{
    background: pink;
    min-height: 9%;
    margin-top: 1%;

    width: 100%;
    display: flex;
    align-items: center;
}

.mat-stroked-button{
    min-width: 15.75% !important;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

mat-icon{
   font-size: 18px;
}

.flex-icon{
    display: flex !important;
    justify-content: center !important;
}
.p{
    display: inline;
}
/*fin navegador*/