#main{
    margin: 2% auto; 
}

.imgSuperpuesta{
    position:absolute;
    z-index: 1;
}

.imgPrincipal{
    z-index: -1;
}

.zoom{
    cursor: zoom-in;
}

/*navegador*/
#navegadorFridge{
    min-height: 9%;
    margin-top: 1%;

    width: 100%;
    display: flex;
    align-items: center;

    flex-wrap: wrap;

    justify-content: center;
}

.mat-raised-button{
    min-width: 20% !important;
    margin: 0.5%;
}

@media (max-width: 700px){
    .botonesVarios{
        display: flex;
        justify-content: center;    
    }

    #navegadorFridge{
       width: 80%;
    }
    .mat-raised-button{
        min-width: 30% !important;
    }
}

mat-icon{
   font-size: 18px;
}

.flex-icon{
    display: flex !important;
    justify-content: center !important;
}
.p{
    display: inline;
}
/*fin navegador*/