#main{
    display: flex;
    align-items: flex-start;
    margin-top: 13%;
}

.imgSuperpuesta{
    position:absolute;
    z-index: 1;
}

.imgPrincipal{
    z-index: -1;
}

.zoom{
    cursor: zoom-in;
}

/*nuevos botones*/
button{
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.mat-success {
    color: white;
    background: #28a745 ;
}

.mat-management {
    color: white;
    background: #fd7e14 ;
}

.mat-practise {
    color: white;
    background: #6f42c1  ;
}

.example-spacer {
    flex: 1 1 100%;
  }

.fixed2{
bottom: 35%;
right: 1.5%;

position: fixed;
z-index: 1;
}

.fixed{
top: 13%;
right: 1.5%;

position: fixed;
z-index: 1;
}

.fixed3{
top: 13%;
left: 1.5%;

position: fixed;
z-index: 1;
}

.btn{
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between;
}

