<mat-accordion multi="true">

  <mat-expansion-panel *ngIf="noCajon.length !=0" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Alimentos
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <button *ngFor="let element of noCajon" mat-stroked-button 
        (click)="openDialog(element)" >{{element.nombre}}</button>
    </mat-expansion-panel>

  <mat-expansion-panel  *ngIf="cajon1.length !=0"
  #panel1 (closed)="cerradoPanel1()" (opened)="abiertoPanel1()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Cajon 1
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <button *ngFor="let element of cajon1" mat-stroked-button 
      (click)="openDialog(element)" >{{element.nombre}}</button>
  </mat-expansion-panel>

  <mat-expansion-panel  *ngIf="cajon2.length !=0"
  #panel2 (closed)="cerradoPanel2()" (opened)="abiertoPanel2()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Cajon 2
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <button *ngFor="let element of cajon2" mat-stroked-button 
      (click)="openDialog(element)" >{{element.nombre}}</button>
  </mat-expansion-panel>

  <mat-expansion-panel  *ngIf="cajon3.length !=0"
  #panel3 (closed)="cerradoPanel3()" (opened)="abiertoPanel3()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Cajon 3
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <button *ngFor="let element of cajon3" mat-stroked-button 
      (click)="openDialog(element)" >{{element.nombre}}</button>
  </mat-expansion-panel>
  
</mat-accordion>