mat-card{
    width: 100%;
}

mat-card-header{
   display: flex;
   justify-content: center !important;
}

mat-card-actions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button{

    margin: 0.5% !important;
}